@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);
/* GENERAL SETTINGS */
/* MEDIAS 1200 - 900 - 850 - 750 -640 - 500*/
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #ebe6eb;
  font-family: 'Lato', sans-serif;
}
.cursive {
  font-style: italic;
}
.righted {
  text-align: right;
}
#sugg1,
#sugg2,
#sugg3,
#sugg4 {
  -webkit-animation-duration: 1.1s;
}
/* ------------------------------ LANDING PAGE -----------------------------------*/
#h-landing .bg {
  position: relative;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;
  width: 100%;
  height: 480px;
  text-indent: -9999px;
  background-image: url(/assets/images/banner-1.jpg);
  background-color: #607D8B;
}
@media all and (max-width: 640px) {
  #h-landing .bg {
    height: 480px;
  }
}
@media all and (max-width: 500px) {
  #h-landing .bg {
    background-image: none;
  }
}
#h-landing img {
  position: absolute;
  top: 30px;
  left: 130px;
  width: 80px;
}
@media all and (max-width: 480px) {
  #h-landing img {
    left: 170px;
  }
}
@media all and (max-width: 400px) {
  #h-landing img {
    left: 150px;
  }
}
#h-landing .btn-large {
  position: absolute;
  top: 30px;
  right: 130px;
  background-color: #FF5722;
}
@media all and (max-width: 480px) {
  #h-landing .btn-large {
    top: 130px;
    right: 150px;
  }
}
@media all and (max-width: 360px) {
  #h-landing .btn-large {
    right: 100px;
  }
}
#h-landing .info-mixeet {
  position: absolute;
  width: 100%;
  z-index: 9;
  text-align: center;
  top: 150px;
  padding: 10px 190px 25px 190px;
}
@media all and (max-width: 1200px) {
  #h-landing .info-mixeet {
    padding: 20px;
  }
}
#h-landing .info-mixeet h1 {
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
}
#h-landing .info-mixeet span {
  color: white;
  font-size: 1.4em;
}
#h-landing i {
  position: absolute;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: white;
  top: 420px;
  font-size: 2.0em;
}
#meet-mixeet {
  width: 100%;
  height: 275px;
  margin-top: -22px;
  background-color: #455A64;
  padding: 10px 190px 25px 190px;
  color: white;
}
@media all and (max-width: 880px) {
  #meet-mixeet {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media all and (max-width: 650px) {
  #meet-mixeet {
    width: 100%;
    height: 500px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media all and (max-width: 360px) {
  #meet-mixeet {
    padding-left: 50px;
    padding-right: 50px;
  }
}
#meet-mixeet p {
  font-size: 1.4em;
}
@media all and (max-width: 650px) {
  #meet-mixeet .part1 {
    width: 100%;
  }
}
#meet-mixeet .cursive {
  font-size: 1.2em;
}
#meet-mixeet .righted {
  padding-top: 70px;
}
@media all and (max-width: 880px) {
  #meet-mixeet .righted {
    font-size: 0.9em;
  }
}
@media all and (max-width: 650px) {
  #meet-mixeet .righted {
    width: 100%;
  }
}
@media all and (max-width: 440px) {
  #meet-mixeet .righted {
    text-align: left;
    margin-top: -70px;
  }
}
#meet-mixeet .btn-large {
  background-color: #F44336;
}
#meet-mixeet-2 .bg-2 {
  position: relative;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;
  width: 100%;
  height: 490px;
  text-indent: -9999px;
  top: -20px;
  background-image: url(/assets/images/banner-3.jpg);
  background-color: #607D8B;
}
@media all and (max-width: 640px) {
  #meet-mixeet-2 .bg-2 {
    height: 320px;
  }
}
@media all and (max-width: 500px) {
  #meet-mixeet-2 .bg-2 {
    background-image: none;
  }
}
@media all and (max-width: 360px) {
  #meet-mixeet-2 .bg-2 {
    height: 350px;
  }
}
#meet-mixeet-2 .l-descriptive {
  padding: 10px 190px 25px 190px;
  color: white;
  position: absolute;
  top: 805px;
  font-size: 1.4em;
}
@media all and (max-width: 800px) {
  #meet-mixeet-2 .l-descriptive {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media all and (max-width: 650px) {
  #meet-mixeet-2 .l-descriptive {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (max-width: 480px) {
  #meet-mixeet-2 .l-descriptive {
    padding-left: 5px;
    padding-right: 5px;
    top: 715px;
  }
}
#meet-mixeet-2 .l-descriptive .displays {
  position: absolute;
  top: -50px;
  width: 300px;
}
@media all and (max-width: 1050px) {
  #meet-mixeet-2 .l-descriptive .displays {
    left: 100px;
  }
}
@media all and (max-width: 800px) {
  #meet-mixeet-2 .l-descriptive .displays {
    width: 200px;
    left: 110px;
  }
}
@media all and (max-width: 650px) {
  #meet-mixeet-2 .l-descriptive .displays {
    display: none;
  }
}
#meet-mixeet-2 .l-descriptive .wifi {
  position: absolute;
  top: 230px;
  left: 260px;
  width: 160px;
}
@media all and (max-width: 1050px) {
  #meet-mixeet-2 .l-descriptive .wifi {
    left: 160px;
  }
}
@media all and (max-width: 800px) {
  #meet-mixeet-2 .l-descriptive .wifi {
    width: 100px;
    left: 145px;
  }
}
@media all and (max-width: 650px) {
  #meet-mixeet-2 .l-descriptive .wifi {
    display: none;
  }
}
#meet-mixeet-2 .card-panel {
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.4);
}
@media all and (max-width: 1050px) {
  #meet-mixeet-2 .card-panel {
    font-size: 0.9em;
  }
}
@media all and (max-width: 900px) {
  #meet-mixeet-2 .card-panel {
    font-size: 0.8em;
  }
}
@media all and (max-width: 650px) {
  #meet-mixeet-2 .card-panel {
    position: absolute;
    width: 500px;
    left: 30px;
    top: 300px;
  }
}
@media all and (max-width: 580px) {
  #meet-mixeet-2 .card-panel {
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    top: 250px;
  }
}
@media all and (max-width: 480px) {
  #meet-mixeet-2 .card-panel {
    padding-left: 5px;
    padding-right: 5px;
    width: 350px;
  }
}
@media all and (max-width: 400px) {
  #meet-mixeet-2 .card-panel {
    width: 250px;
  }
}
.separator {
  background-color: #455A64;
  width: 100%;
  height: 55px;
  position: absolute;
  top: 1220px;
  z-index: 999;
  padding: 10px 190px 25px 190px;
  padding-left: 300px;
  color: #CFD8DC;
  font-size: 1.4em;
}
@media all and (max-width: 880px) {
  .separator {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media all and (max-width: 650px) {
  .separator {
    padding-left: 10px;
    padding-right: 10px;
    top: 1285px;
  }
}
@media all and (max-width: 360px) {
  .separator {
    top: 1300px;
  }
}
.separator img {
  width: 130px;
}
@media all and (max-width: 1250px) {
  .separator .ua {
    font-size: 0.8em;
  }
}
@media all and (max-width: 1090px) {
  .separator .ua {
    font-size: 0.6em;
  }
}
@media all and (max-width: 360px) {
  .separator .uaproject {
    display: none;
  }
}
.slider {
  top: 20px;
}
footer img {
  width: 25px;
  position: relative;
  top: 13px;
  left: 15px;
}
/* ------------------------------ COMMON ----------------------------------- */
header .nav-wrapper {
  background-color: #FF6846;
  padding-left: 30px;
}
header .nav-wrapper .nav-section-a {
  padding-left: 150px;
  display: inline-block;
}
header .nav-wrapper .nav-section-a span {
  display: inline;
  margin-top: -39px;
}
header .nav-wrapper .nav-section-b {
  padding-left: 115px;
  display: inline-block;
}
header .nav-wrapper .nav-section-b span {
  display: inline;
}
header .nav-wrapper .nav-section-c {
  padding-left: 20px;
  display: inline-block;
}
header .nav-wrapper .nav-section-c span {
  display: inline;
}
header img {
  width: 46px;
}
header a:hover,
header a:active,
header a:focus {
  color: #FFA38F;
  text-decoration: none;
}
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper span {
  padding-left: 15px;
}
#wrapper.toggled {
  padding-left: 220px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  background: #CFD8DC;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper-2 {
  z-index: 1000;
  position: fixed;
  right: 220px;
  width: 0;
  height: 100%;
  margin-right: -220px;
  overflow-y: auto;
  background: #455A64;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper,
#wrapper.toggled #sidebar-wrapper-2 {
  width: 220px;
}
#page-content-wrapper {
  width: 80%;
  position: absolute;
  padding: 15px;
}
@media all and (max-width: 1200px) {
  #page-content-wrapper {
    width: 75%;
  }
}
@media all and (max-width: 915px) {
  #page-content-wrapper {
    width: 68%;
  }
}
@media all and (max-width: 770px) {
  #page-content-wrapper {
    width: 100%;
  }
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 20px;
  padding-left: 0px;
  list-style: none;
}
.sidebar-nav-2 {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding-top: 20px;
  padding-left: 0px;
  list-style: none;
}
.sidebar-nav-2 .special-title {
  color: white;
  background-color: #203B47;
  height: 70px;
  margin-top: -30px;
  padding-top: 18px;
  padding-left: 5px;
}
.sidebar-nav li,
.sidebar-nav-2 li {
  text-indent: 20px;
  line-height: 40px;
}
.btn-list {
  margin-top: 20px;
  margin-left: 20px;
}
.btn-list a {
  width: 170px;
  padding-left: 0px;
  background-color: #FF6846;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #212121;
}
.sidebar-nav-2 li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-2 li a:hover {
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav-2 li a:active,
.sidebar-nav-2 li a:focus {
  text-decoration: none;
}
.sidebar-brand a {
  text-transform: uppercase;
}
.sidebar-nav > .sidebar-brand,
.sidebar-nav-2 > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a,
.sidebar-nav-2 > .sidebar-brand a {
  color: #212121;
}
.sidebar-nav > .sidebar-brand a:hover,
.sidebar-nav-2 > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 220px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper,
  #sidebar-wrapper-2 {
    width: 220px;
  }
  #wrapper.toggled #sidebar-wrapper,
  #wrapper.toggled #sidebar-wrapper-2 {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
#i-footer {
  position: relative;
  z-index: 99999;
}
.collapsible-header {
  background-color: #CFD8DC;
  border: none !important;
}
.collapsible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.collapsible-body {
  padding-left: 80px;
  border: none !important;
}
.collapsible-accordion {
  border: none !important;
  outline: none !important;
}
.sectionS {
  background-color: #EBE6EB;
}
.sectionC {
  background-color: #F2D4CE;
}
.sectionS:hover {
  background-color: #EBE6EB !important;
}
#searchCollection {
  height: 32px !important;
  margin-top: 15px;
  border: none;
  margin-right: 250px;
  padding-top: -100px;
}
/* ------------------------------ HOME PAGE / PROFILE ----------------------------------- */
.collection-item p {
  padding-top: 5px;
  font-style: italic;
}
.collection-item a {
  color: #FF5722;
}
.collection-item a:hover {
  cursor: pointer;
}
.collection-item input {
  width: 31%;
  padding: 2px;
}
.collection-item .log-out {
  float: right;
  padding-top: 10px;
}
.collection-item .log-out:hover {
  cursor: pointer;
}
.nav-profile {
  font-size: 1.2em;
  color: white;
  padding: 10px;
}
.nav-profile li {
  padding-bottom: 15px;
}
.nav-profile .collapsible-header {
  background-color: #203B47;
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
}
.nav-profile .collapsible-body {
  background-color: #FFF;
  color: #212121;
  text-align: center;
}
.nav-profile .collapsible-body .notVisible {
  display: none;
}
.nav-profile .collapsible-body .isVisible {
  display: block;
}
.nav-profile .collapsible-body .btn {
  margin-left: 10px;
  background-color: #FF5722;
}
.nav-profile .collapsible-body span {
  color: #FF5722;
}
#map {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}
#graphic-container {
  text-align: center;
}
#graphic-container canvas {
  margin-top: 30px;
}
